@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=PT+Sans&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  color: #EEEEEE;
  
}

.hidden {
  display: none;
}

.dim {
  filter: opacity(30%);
}

body {
  background: 
  linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%),
  url('../assets/images/space.jpg') no-repeat; 
  background-size: cover;
  height: 100vh;
  max-height: 2600px;
  max-width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

#form-area {
  margin: 0;
  position: absolute;
  max-width: 80%;
  top: 20%;
  transform: translate(15%, 0%);
  background-color: rgba(0,0,0,.8);
  border-radius: 15px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

p {
  margin-top: 0;
  font-size: 1vw;
}

h1 {
  margin-bottom: 0;
  font-size: 6vw;
}

label {
  font-size: 2vw;
}

.btn {
  margin: 10px;
}

.column {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.thin-sub-col {
  height: 100%;
  width: 15%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thin-left {
  float: left;
}

.thin-right {
  float: right;
}

.btn {
  cursor: pointer;
}

input {
  width: 80px;
}

.centered {
  position: absolute;
  top: 45%;
  left: 22.5%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#info-box {
  height: 35%;
  width: 100%;
  top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#planet-box {
  height: 45%;
  width: 100%;
}

#planet-area {
  height: 100%;
  width: 68%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chevron {
  height: 10vh;
  cursor: pointer;
}

#left-chev {
  transform: scaleX(-1);
}

#arrow {
  animation: pulse 1.5s infinite linear;
  width: 40%;
  max-width: 389px;
  max-height: 389px;
	transform: scale(.75) translate(-5%, 0%);
  z-index: 10;
}

@keyframes pulse {
	0% {
		transform: scale(0.75) translate(-5%, 0%);
	}

	20% {
		transform: scale(.8) translate(-5%, 0%);
	}

  40% {
		transform: scale(.75) translate(-5%, 0%);
	}

	100% {
		transform: scale(.75) translate(-5%, 0%);
    
	}
}

.planet {
  animation: rotate 40s infinite linear;
  width:60%;
  max-width: 389px;
  max-height: 389px;
  margin: auto;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0);;
  }
  50%{
    transform: rotateZ(180deg);
  }
  100%{
    transform: rotateZ(360deg);
  }
}